<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- args -->
    <arg name="path_file" default="" />
    <arg name="is_shutdown_zero_vel" default="true" />
    <arg name="is_pub_status" default="true" />

    <!-- # launch_switch node which can start/shutdown a launch file-->
    <node pkg="ros_switch_launch" type="switch.py" name="switch" output="screen">
        <param name="path_file" type="string" value="$(arg path_file)" />
        <param name="is_shutdown_zero_vel" type="bool" value="$(arg is_shutdown_zero_vel)" />
        <param name="is_pub_status" value="$(arg is_pub_status)" />
    </node>

</launch>
