<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- args -->
    <arg name="path_file" default="$(find ros_switch_launch)/launch/_scenario_gpsnav.launch" />
    <!-- <arg name="path_file" default="$(find ros_switch_launch)/launch/_scenario_slam.launch" /> -->

    <!-- # launch_switch node which can start/shutdown a launch file-->
    <node pkg="ros_switch_launch" type="switch.py" name="switch" output="screen">
        <param name="path_file" type="string" value="$(arg path_file)" />
    </node>

</launch>
